@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Spoqa Han Sans Neo', sans-serif;
    background-color: #0a0a0a;
}

.header {
    width: 100%;
    height: 100px;
    background: #ddd;
}


.header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    font-size: 18px;

}